.navbar {
    padding-top: 15px;
    padding-bottom: 15px;
    border: 0;
    border-radius: 0;
    margin-bottom: 0;
    font-size: 16px;
    letter-spacing: 5px;
    background-color: #36364c;
}
nav a, nav button {
    color: #e4caa5;
}

.navbar-nav li a:hover, a.navbar-brand:hover {
    color: white !important;
    background-color: inherit;
}
.content-background {
    background-color: #E9DCCF;
    height: 398px;
    position: absolute;
    top: 60px;
    width: 100%;
}

.cont {
    color: #212121;
    font-family: Roboto, "Helvetica Neue", Helvetica, sans-serif;
    line-height: 20px;
    background: transparent;
    font-size: 13px;
    position: absolute;
    width: 100%;
}
.cont>header {
    background-color: 4285f4;
}
.cont>a{
    color: #4285f4;
    text-decoration: none;
}
.namebar {
    /*padding-left: 80px;*/
    /*width: 100%;*/
    box-sizing: border-box;
    /*display: inline-block;*/
    text-align: left;
}
a.namebar{
    background-color: #4285f4;
    padding: 0 10px 0 26px;
}
.namebar-title {
    color: #fff;
    display: inline;
    font-size: 20px;
    line-height: 64px;

}
.namebar-links {
    margin-left: 3px;
    float: right;
    font-size: 14px;
    line-height: 64px;
    display: inline-block;
    margin-right: 0;
    padding: 0 24px;
    color: #fff;
    text-transform: uppercase;

}
.namebar-bottom {
    display: block;
    margin-bottom: 16px;
    min-height: 48px;
}
.addlinks {
    display: block;
    margin: 0;
    padding-left: 26px;
}
.primary-container {
    /*background-color: #e9dccd;*/
    /*padding-left: 128px;*/
    /*padding: 0 0 64px 128px;*/
    text-align: center;
    display: inline-flex;
}
.page {
    /*float: left;*/
    /*width: 832px;*/
    /*box-sizing: border-box;*/
    padding: 64px;
    background-color: #fff;
    text-align: left;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.26);
    display: inline-block;
    /*position: relative;*/
}
.article-container {
    padding: 0;
    min-height: 400px;
}
.primary-container > .list-group {
    background-color: #6cbf84;
    min-height: 262px;
    max-height: 350px;
    margin-left: 50px;
    padding: 30px 0;
}
.primary-container > .list-group > .list-group-item {
    background-color: #6cbf84;
    border: 0;
}
.primary-container > .list-group > .list-group-item:hover {
    opacity: 0.75;
}


/*.primary-nav {
    display: inline-block;
    !*width: 222px;*!
    background-color: #6cbf84;
    margin: 0 50px;
    min-height: 262px;
    max-height: 400px;
}
.primary-nav nav {
    margin-left: 32px;
    text-align: left;
    min-height: 262px;
    max-height: 400px;
    width: 256px;
}
.sibling-nav {
    margin-top: 2px;
    min-height: 268px;

    display: inline-block;
}

.sibling-nav .sibling-list a.sibling-link {
    padding: 6px 0 6px 14px;
    border-left: 2px solid transparent;
    color: #e3edfe;
    display: block;
    font-weight: bold;
}
.sibling-list {
    margin-bottom: 0;
    list-style: none;
    display: list-item;
}*/
.cc {
    word-wrap: break-word;
}
.group-container {
    margin: 0;
}
.group-list {
    font-size: 15px;
    line-height: 24px;
    /*box-sizing: border-box;*/
    /*border-top: 1px solid #e0e0e0;*/
    border-bottom: 1px solid #e0e0e0;
    color: #4285f4;
    /*cursor: pointer;*/
    display: inline-block;
    /*font-weight: normal;*/
    margin: -1px;
    /*outline: none;*/
    padding: 16px 50px 16px 16px;
    position: relative;
    width: 100%;
}
.group-title {
    /*padding-right: 25%;*/
    margin: 0 0 5px 0;
}
.zippy-content {
    max-width: 55%;
    margin: 0;
    padding: 0;
}
.zippy-users {
    position: absolute;
    top: 20px;
    right: 20px;
    text-align: right;
    margin: 0;
    padding: 0;
}
.button-blank {
    background: #fbfcfd;
    border: 1px solid #adadad;
}

.login {
    width: 400px;
    margin: 50px auto;
    background: #fff;
    border: 1px solid #ddd;
    font-size: 14px;
    font-family: 'Ropa Sans', sans-serif;
    color:#333;
    border-radius:7px;
}
.ul-list {
    padding: 20px;
    background: #f8f8f8;
    margin: 0;
}
.ul-list li{
    margin:0 auto;
    margin-bottom:12px;
    padding: 0;
}
.form-header {
    margin:0;
    line-height:60px;
    text-align:center;
    background:#eee;
    font-size:18px;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
}
.remember{
    display:inline-block;
    clear:both;
    font-size:12px;
}
.remember:nth-child(2){
    text-align:right;
    float: right;
}
.remember a{
    text-decoration:none;
    color:#666;
}
.social-login {
    padding:15px 20px;
    background:#f1f1f1;
    border-top:solid 2px #e8e8e8;
    text-align: right;
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;

}
.social-login a{
    display:inline-block;
    height:35px;
    text-align:center;
    line-height:35px;
    width:35px;
    margin:0 3px;
    text-decoration:none;
    color:#FFFFFF;
    border-radius: 0px;
}
.gp {
    background:#ce4d39;
}
.fb {
    background:#305891;
}
.form a i.fa{
    line-height:35px;
}
.signUp {

    margin: 1px auto;
    width: 400px;
    background-color: #f2ffcc;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 16px;
    padding: 10px;
}
input {
    border-radius:3px 0 0 3px;
    padding: 8px 16px;
    border: 1px solid #ccc;
}
a {
    border-radius: 3px;
    margin: 5px;

}
.button {
    border: none;
    outline: none;
    border-radius: 3px;
    margin: 0 auto;
    font-size: 16px;
    padding: 0 10px;
    font-weight: bold;
    border-bottom:solid 4px #006699;
    display: block;
    color: #fff;
}
.inline-block{
    display: inline-block;
    vertical-align: middle;
}
.validation {
    color: #d9534f;
}

.sidebar {
    position: fixed;
    border-right: 1px solid #eee;
    display: block;
    padding: 20px;
    top: 62px;
    bottom: 0;
    left: 0;
}

.page-header {
    margin: 40px 0 20px;
    padding-bottom: 9px;
    border-bottom: 1px solid #eee;
}

.value {
    padding-top: 7px;
}

.inline-button {
    background: inherit;
    border: none;
}

.noStyleList {
    list-style-type: none;
}
form[name="profileForm"] > div {
    height: auto;
    padding: 5px 0;
}

form[name="profileForm"] .title {
    display: inline-block;
    font-weight: bold;
    padding-top: 5px;
    vertical-align: top;
    min-width: 90px;
}

form[name="profileForm"] .editable {
    display: inline-block;
    padding-top: 5px;
    vertical-align: top;
}

form[name="profileForm"] select {
    width: 120px;
}

div.group {
    display: inline-block;
    max-width: 100%;
    padding: 20px;
    line-height: 1.42857143;
    height: 251px;
    border: 1px solid #f2f2f2;
    border-radius: 4px;
    margin: 10px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
}
div.group:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
.clickable {
    position:absolute;
    width:100%;
    height:100%;
    top:0;
    left: 0;

    z-index: 10;
    background-color: #fff;
    opacity: 0;
}

content {
    height: 100%;
}

div.notebook {
    background-color: #d0d3c5;
    width: 100%;
    margin: 0 auto;
    padding: 0;
    min-height: 400px;
    height: auto;
    background: linear-gradient(141deg, #d0d3c5 0%, #edfafd 51%, #91b3bc 75%);
    /* linear-gradient(141deg, #e6f2ff 0%, #e6e6ff 51%, #ffe6ff 75%) */
    color: white;
    opacity: 0.95;
}
div.notebook h4 {
    color: #cd0000;
    letter-spacing: -2px;
    text-align: left;
}
.tasklist{
    color: #555;
    font-size: 14px;
    padding: 0 !important;
    width: 80%;
    font-family: "Comic Sans MS", cursive, sans-serif;

}
.tasklist li {
    list-style: none;
    border-bottom: 1px dotted #ccc;
    text-indent: 25px;
    height: auto;
    padding: 10px;
}
.tasklist li:hover {
    background-color: #e6f2ff;
    -webkit-transition: all 0.2s;
    -moz-transition:    all 0.2s;
    -ms-transition:     all 0.2s;
    -o-transition:      all 0.2s;
}

.tasklist.completed {
    text-decoration: line-through;
}
.redline {
    border-left: 1px solid #ffaa9f;
    border-right: 1px solid #ffaa9f;
    width: 2px;
    float: left;
    height: 100vh;
    margin-left: 40px;
}

#hover1 {
    text-indent: 25px;
    display: none;
    font-size: 10px;
    margin-top: 10px;
    padding: 5px;
    width: 100%;
    background-color: #e6f2ff;
}

#task:hover #hover1 {
    display: block;
}
.addTodoB:hover {
    cursor: pointer;
}
.emailTags {
    border: 1px solid lightgrey;
    font-size: 14px;
    padding: 3px;
    box-sizing: content-box;
    margin: 1px;
}
#snackbar {
    visibility: hidden; /* Hidden by default. Visible on click */
    min-width: 250px; /* Set a default minimum width */
    margin-left: -125px; /* Divide value of min-width by 2 */
    background-color: #333; /* Black background color */
    color: #fff; /* White text color */
    text-align: center; /* Centered text */
    border-radius: 2px; /* Rounded borders */
    padding: 16px; /* Padding */
    position: fixed; /* Sit on top of the screen */
    z-index: 1; /* Add a z-index if needed */
    left: 50%; /* Center the snackbar */
    bottom: 30px; /* 30px from the bottom */
}
#snackbar.show {
    visibility: visible;
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
}
@-webkit-keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
}

@keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
}

@-webkit-keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
}

@keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
}
#snackbar1 {
    visibility: hidden; /* Hidden by default. Visible on click */
    min-width: 250px; /* Set a default minimum width */
    margin-left: -125px; /* Divide value of min-width by 2 */
    background-color: #333; /* Black background color */
    color: #fff; /* White text color */
    text-align: center; /* Centered text */
    border-radius: 2px; /* Rounded borders */
    padding: 16px; /* Padding */
    position: fixed; /* Sit on top of the screen */
    z-index: 1; /* Add a z-index if needed */
    left: 50%; /* Center the snackbar */
    bottom: 30px; /* 30px from the bottom */
}
#snackbar1.show {
    visibility: visible;
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
}
.rewards {
    margin: 1.5em;
    border: 1px solid #c3d1d6;
    padding: 1.5em;
    background: #f2f5f6;
    box-sizing: border-box;
}

.notebook .addForm {
    margin: 0 50px;
    line-height: 3;
}

.notebook .addForm label {
    color: #555;
    font-family: "Comic Sans MS", cursive, sans-serif;
}


