<div class="container-fluid">
    <!--<div class="row">-->
        <!--<div class="col-sm-3 col-md-2 sidebar">-->
            <!--<ul class="nav nav-sidebar">-->
                <!--<li>-->
                    <!--<a href="">Profile</a>-->
                <!--</li>-->
                <!--<li>-->
                    <!--<a href="">My Scores</a>-->
                <!--</li>-->
                <!--<li>-->
                    <!--<a href="">My Groups</a>-->
                <!--</li>-->
            <!--</ul>-->
        <!--</div>-->
    <div class="row">
        <div class="col-lg-8 col-md-6 col-sm-12 main">
            <h1 class="page-header">Profile</h1>
            <form class="form-horizontal" editable-form name="profileForm" novalidate ng-submit="ctrl.editUser()">
                <ul>
                    <li class="noStyleList">
                        <span class="col-sm-6 pull-left">
                            Email
                        </span>
                        <span class="col-sm-6" editable-text="ctrl.user.email" e-name="email" e-required>
                            {{ctrl.user.email}}
                        </span>
                    </li>
                    <li class="noStyleList">
                        <span class="col-sm-6 pull-left">
                            First Name
                        </span>
                        <span class="col-sm-6" editable-text="ctrl.user.firstName" e-name="email" e-required>
                            {{ctrl.user.firstName}}
                        </span>
                    </li>
                    <li class="noStyleList">
                        <span class="col-sm-6 pull-left">
                            Last Name
                        </span>
                        <span class="col-sm-6" editable-text="ctrl.user.lastName" e-name="email" e-required>
                            {{ctrl.user.lastName}}
                        </span>
                    </li>
                    <li class="noStyleList">
                        <span class="col-sm-6 pull-left">
                            Gender
                        </span>
                        <span class="col-sm-6" editable-text="ctrl.user.email" e-name="email" e-required>
                            {{ctrl.user.gender}}
                        </span>
                    </li>
                    <li class="noStyleList">
                        <span class="col-sm-6 pull-left">
                            Date Of birth
                        </span>
                        <span class="col-sm-6" editable-text="ctrl.user.dateOfBirth" e-name="email" e-required>
                            {{ctrl.user.dateOfBirth | date}}
                        </span>
                    </li>
                    <div class="clearfix"></div>
                    <li class="noStyleList">
                        <span class="col-sm-6 pull-left">
                            Country
                        </span>
                        <span class="col-sm-6" editable-text="ctrl.user.country" e-name="email" e-required>
                            {{ctrl.user.country}}
                        </span>
                    </li>
                </ul>

                <button class="btn btn-default pull-right" ng-click="profileForm.$show()" ng-show="!profileForm.$visible" type="button">Edit</button>
                <span ng-show="profileForm.$visible">
                    <button type="submit" class="btn btn-primary pull-right" ng-disabled="profileForm.$waiting">
                        Save
                    </button>
                    <button type="button" class="btn btn-default pull-right" ng-disabled="profileForm.$waiting" ng-click="profileForm.$cancel()">
                        Cancel
                    </button>
                </span>

                <!--<div class="form-group">-->
                    <!--<label class="control-label col-sm-2">Email:</label>-->
                    <!--<div class="col-sm-9 value" ng-focus="focused=true">-->
                        <!--{{ctrl.email}}-->
                    <!--</div>-->
                    <!--<button class="col-sm-1 btn btn-success btn-sm inline-button" ng-click="" ng-show="focused">-->
                        <!--<span class="glyphicon glyphicon-pencil">Edit</span>-->
                    <!--</button>-->
                <!--</div>-->
            </form>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-12">
            <img ngf-thumbnail="ctrl.imgFile" width="70px">
        </div>
    </div>
    <!--</div>-->
</div>